
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  max-width: 1400px;
  width: 100%;
  margin: 0 auto; 
}

body{

  background-color: #f3f1f7;
}

header{
  background-color: #FFFFFF;
  max-width: 1000px;
  width: 100%;
  height: 110px;
  margin: 0 100px;
  border-radius: 0px 0px 50px 50px;
  box-shadow: 0px 0px 10px #597DBC0D;
}

.header-content{
  display: flex;
  justify-content: space-between;
  padding: 40px 100px;
  align-items: center;
}
.header-content h3{
  color: rgb(5, 5, 53);
  font-size: 35px;
}

.small-icons{
  display: flex;
}

.header-icons{
  margin-right: 30px;

}

.header-icons span{
  font-size: 14px;
  line-height: 14px;
  color: rgb(252, 38, 73);
}

nav{
  margin: 40px 20px 100px 130px;
}

a{
  margin-right: 20px;
  text-decoration: none;
  color: rgb(252, 38, 73);
  font-size: 15px;
  line-height: 17px;
}

a:hover{
  color: rgb(10, 10, 99);
  font-size: 17px;
  transition: all .5s;
}

li{
  list-style: none;
}
.language{
  padding: 6px 10px;
  border: none;
  background-color: rgb(252, 38, 73);
  margin-right: 7px;
  border-radius: 6px;
  color: white;
}
.products-blocks{
  padding: 30px 130px;
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 26px;
}

.white-block{
  width: 277px;
  height: 520px;
  background-color: #FFFFFF;
  padding: 40px 30px;
  box-shadow: 0px 0px 60px #597DBC0D;
  border: 1px solid #E7E7E74D;
  border-radius: 10px;
  margin-right: 26px;
  margin-bottom: 26px;
}

.white-block:hover{
   box-shadow: 5px 5px 10px rgba(7, 42, 138, 0.3);
   transform: scaleY(1.03);
   transform: scaleX(1.03);
   transition: all 0.5s;
}


.white-block h5{
  font-size: 18px;
  line-height: 22px;
  color: rgb(5, 5, 53);
  margin-bottom: 9px;
  font-family: 'Sylfaen';
}

.white-block p{
  font-size: 12px;
  line-height: 18px;
  color: rgb(5, 5, 53);
  margin-bottom: 16px;
  font-family: 'BPG Glaho';
}

.item-img{
  width: 190px;
  height: 190px;
  object-fit: contain;
  margin: 30px 10px;
  margin-bottom: 70px;
}

.category{
  color: rgba(252, 38, 73, 0.5);
  font-size: 14px;
  margin-bottom: 20px;
}

.price{
  color: rgb(252, 38, 73);
  font-size: 15px;
}

.search{
  padding: 10px 130px;
}

.search button{
  padding: 6px 10px;
  border: none;
  background-color: pink;
}
input{
  height: 30px;
  width: 200px;
  margin-right: 20px;
  padding: 5px;
}

/* sign up */
.formik{
  display: flex;
  flex-direction: column;
 align-items: center;
 justify-content: center;
 padding: 100px 0px;
}
.form-field{
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

input{
  width: 300px;
  height: 40px;
  border-radius: 6px;
  border: 1px solid rgb(131, 129, 129);
}

label{
  margin-bottom: 10px;
  font-size: 20px;
}
input:focus{
  outline: none;
  background-color:rgba(96, 136, 133, 0.1) ;
}
.submit-form{
  padding: 15px 50px;
  border: none;
  background-color: rgb(252, 38, 73);
  border-radius: 6px;
  color: white;
  font-size: 17px;
}

/* footer */
.footer-content{
  display: flex;
  justify-content: center;
  padding: 70px 0px 60px 0px;
  margin-top: 140px;
  background-color: #FFFFFF;
  font-size: 20px;
  border-radius:50px 50px 0px 0px;
}

/* product */
.description{
  padding-top: 20px;
  padding-left: 50px;
}

.single{
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-title{
  font-size: 25px;
  margin-bottom: 10px;
}
.prod-desc{
  font-size: 16px;
  color: rgb(63, 61, 61);
  margin-bottom: 20px;
}
.prod-price{
  font-size: 33px;
}
.cart{
  margin-top: 30px;
  display: flex;
}
.range{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(230, 240, 236);
  padding: 10px;
  margin-right: 50px;
  border-radius: 6px;
  border: 1px solid rgb(252, 38, 73) ;
}

.plus{
  font-size: 25px;
  margin:0px  30px;
  background-color: transparent;
  border: none;
}
.count{
  font-size: 25px;
}